{{define "musicpage"}}
{{template "header" -}}
<div class="container">
	<div id="music-page" class="center">
		<ul>
		{{range .urls}}
			<li class="nav-item">
				{{.}}
			</li>
		{{end}}
		</ul>
	</div>
</div>
{{template "footer" -}}
{{end}}
