{{define "musicpage"}}
{{template "header" -}}
<div class="container">
	<div id="music-page" class="center">
		<ul>
		{{range .urls}}
			<iframe allowtransparency="true" scrolling="no" frameborder="no" src={{.}} style="width: 32px; height: 32px;"></iframe>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1353192850&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-434601011" title="Andrew Willette" target="_blank" style="color: #cccccc; text-decoration: none;">Andrew Willette</a> · <a href={{.url}} title="{{.name}}" target="_blank" style="color: #cccccc; text-decoration: none;">Raggedy Ann</a></div>
		{{end}}
		</ul>
	</div>
</div>
{{template "footer" -}}
{{end}}
