{{define "musicpage"}}
{{template "header" -}}
<div class="container">
	<div id="music-page" class="center">
  <ul>
		<li>
    Song One
    </li>
		<li>
    Song Two
    </li>
  </ul>
	</div>
</div>
{{template "footer" -}}
{{end}}
